
@-webkit-keyframes blink{ 0%{opacity:1}50%{opacity:0}100%{opacity:1}}
@keyframes blink{0%{opacity:1}50%{opacity:0}100%{opacity:1}}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1; -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% { opacity: 0; -moz-animation-timing-function: ease-in; }
    8% { opacity: 1; -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% { opacity: 0; -o-animation-timing-function: ease-in; }
    8% { opacity: 1; -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; }
    8% { opacity: 1; -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}


html,
body {
    height: 100%
}
html {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;

}

body {
    /*background:url(assets/images/fashion-photography-of-woman-hands-on-chin-with-glitter-1081685.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    font-family: 'Poppins', sans-serif;
    background: #000;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    /*background: rgba(0,0,0,0.65);*/
    color:#fff;
}

.top-bar{
    width:100%;
    padding: 30px 0px 0px;
    /*background-color: rgba(0,0,0,0.65);*/
    /*height:60px;*/
    /*line-height:60px;*/
    z-index: 1;
}
.top-bar ul {
    margin-bottom: 0px;
}
.top-bar ul li{
    display:inline;
    padding:0 5px;
}
.top-bar ul li a{
    color:#fff;
    font-size:22px;
    line-height:40px;
}
.top-bar ul li a:hover{
    color:#f9b108;
    transition: background-color 1s ease;
}

.btn-primary{
    background:#f9b108;
    border-color:#1d1d1b;
    /*border-radius: 0px;*/
    color:#1d1d1b;
    transition: background-color 1s ease;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
    background-color: #1d1d1b;
    border-color:#1d1d1b;
    color:#f9b108
}

.container-table {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 9px #000;

}




/*Required*/
@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: rgba(0,0,0,0.90);}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}

.modal-footer,
.modal-header{
    border:none;
}
.modal-content{
    background: rgba(0,0,0,0.90);
}

.l1-txt2 {
    font-size: 70px;
    line-height: 50px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}


.m2-txt2 {
    font-size: 18px;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 990px) {
    .l1-txt2 {
        font-size: 50px;
    }
    .m2-txt2 {
        font-size:14px;
    }

    .container-table {
        height: auto;
        display: block;
        margin-top:50px;
        margin-bottom:50px;

    }

    footer{
        position: relative !important;
        margin-top: 50px;
    }

}

@media (max-width: 768px) {

    body::after{
        content: "\f309";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 30px;
        color:#f9b108;
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: block;
        width: 20px;
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: bounce-1;
        animation-timing-function: linear;
    }

    body.arrow-hidden::after{
        display:none!important;
    }

    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }

    h1 {
        font-size: 2rem;
    }
    .container-table {
        height: auto;
        display: block;
    }

    .timer{
        margin:50px 0 30px;
    }

    .l1-txt2 {
        font-size: 70px;
        line-height: 50px;
    }



    footer{
        position: relative !important;
        margin-top: 50px;
    }
}

.d-flex div{
    text-align: center;
}


input.form-control,textarea.form-control{
    border-radius: 0px;
}


button.close{
    color:#f9b108;
    text-shadow:none;
}
button.close:hover{
    color:#f9b108;
}

#notify-me-button {
    background: transparent;
    border: none;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #f9b108;
    border-radius: 0px;
    padding: 0px;
}
/*button.btn{*/
/*    border-radius: 0px;*/
/*}*/


h1 {
    margin-bottom: 20px !important;
}

textarea{
    /*Animation*/
    -webkit-transition: height 0.5s ease !important;
    -moz-transition: height 0.5s ease !important;
    -o-transition: height 0.5s ease !important;
    -ms-transition: height 0.5s ease !important;
    transition: height 0.5s ease !important;
}


.ti-container{display:block;font-size:inherit}
.ti-text-container{position:relative;display:inline;font-size:inherit}
.ti-text-container:before{content:'';display:inline-block;width:1px;height:1em;position:relative}
.ti-text-container.active-container.ti-cursor:after{display:inline}
.ti-cursor:after{display:none;content:'|';bottom:-1px;right:-5px;position:absolute;line-height:normal;font-size:inherit;-webkit-animation:blink 1s infinite;animation:blink 1s infinite}

.cb-slideshow{
    list-style-type: none;
    z-index: -1;

}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s;
}


.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/fashion-photography-of-woman-hands-on-chin-with-glitter-1081685.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2-Girl-Looking-Through-Gap.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/3-Face-Painted-Man.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4-Boy-On-Train.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5-Women-In-Trees.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}